<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hys.hmonkeyys.readimagetext">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".ReadImageText"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadImageText"
        android:usesCleartextTraffic="true">

        <!-- OCR 관련 -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <!-- 배너 광고 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".views.activity.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar.Teal200"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activity.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".views.activity.history.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar.Teal200"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".views.activity.licensedetail.LicenseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar.Teal200"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".views.activity.appsetting.AppSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar.Teal200"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".views.activity.note.NoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar.Teal200"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".views.activity.guide.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBar.Teal200"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>